<div class="user-bloc-mini">
  <h3><%= link_to idea.title, idea_path(idea.id) %></h3>
  <p><span class= "margin"><%= idea.description %></span></p>  
  <div class="ago">
    - Created <%= idea.ago %>
  </div>   
</div>