
<h1><i class="fa fa-envelope" aria-hidden="true"></i> Mails <span class="badge"><%= Contact.where("state = 'new'").count %></span></h1>

<div class="container">
  <div class="row">

    <div class="col-sm-2">
      <div class="container">

      </div>
    </div>

    <div class="col-sm-5">
      <div class="mail-tab">
        <h2>Contact</h2>
        <table class="table">
          <thead>
            <tr>
              <th>Sender</th>
              <th>Object</th>
              <th>Date</th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody class="draw-mail">
            <%= render @contacts.where("aim = 'contact'").limit(10) %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-sm-5">
      <div class="mail-tab">
        <h2>Hire</h2>
        <table class="table">
          <thead>
            <tr>
              <th>Sender</th>
              <th>Object</th>
              <th>Date<th>
              <th></th>
            </tr>
          </thead>

          <tbody class="draw-mail">
            <%= render @contacts.where("aim = 'hire'").limit(10) %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>


