/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree
 *= require_self
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";

/* Main illu */
.jumbotron > h1 {
  margin-left: auto;
  width: auto;
}

/* Images */
.avatar-mini {
  margin: 1px;
  border: 1px solid black;
  height: 25px;
  width: 25px;
  border-radius: 30px;
}
/* Bars */
.header {
  background-color: black;
  color: grey;
  height: 40px;
}

.navbar {
  background-color: black;
  height: 40px;
}

.navbar > div > h4 > a {
  padding: 20px;
}

.sidebar {
  background-color: ghostwhite;
  border: 2px solid grey;
  border-radius: 50px;
}

.sidebar > h2 {
  color: cornflowerblue;
  margin-left: 20px;
}

.sort-bar {
  background-color: ghostwhite;
  border-radius: 15px;
  margin: 10px;
  padding-left: 20px;
  font-size: 25px;
}

.dropdown > button {
  background-color: lightskyblue;
  color: black;
  border-radius: 15px;
  margin: 5px;
}

/*notifs */
.notifs {
  margin: 4px;
  padding: 4px;
  background-color: lightgrey;
  color: black;
  border-radius: 5px;
}

.notif-seen {
  background-color: lightgrey;
}
.notif-new {
  background-color: lightblue;
}

.notif-display {
  margin: 5px;
}

.notif-display > ul {
  width: 270px;
}


/* text utilities */
.margin {
  margin: 50px;
}

.rank-num {
  margin: 40px;
  color: cornflowerblue;
  border-right: 2px solid cornflowerblue;
}

/* blocs */
.user-bloc-mini {
  margin: 10px;
  background-color:lightblue;
  border: 2px solid lightgray;
  border-radius: 40px;
}

.user-bloc-mini > h3 > img {
  margin: 4px;
  border: 2px solid black;
  height: 50px;
  width: 50px;
  border-radius: 30px;
}

.ago {
  color: lightslategrey;
  margin-left: 250px;
}

/* Comments */
.comments {
  margin: 10px;
}
.comment {
  margin: 10px;
  border: 2px solid darkgrey;
  height: 200px;
  width: 800px;
  border-radius: 10px;
}

.comment > div > div > img {
  position: absolute;
  margin: 15px;
  border: 2px solid black;
  height: 150px;
  width: 150px;
  border-radius: 30px;
}

.comment-text {
  margin: 20px;
  margin-left: 80px;
  word-wrap: break-word;
}

.comment-form {

}



/* Buttons */
.post-btn {
  margin-left: 140px;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.post-btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.post-btn > a {
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  /*padding: 0px 8px 0px 8px;*/
  text-decoration: none;
}

/* footer */

footer {
  background-color: black;
  color: grey;
  height: 20px;
}
