/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";

.jumbotron > h1{
  margin-left: auto;
  width: auto;
}

.header {
  background-color: black;
  color: grey;
  height: 40px;
}

.navbar {
  background-color: black;
  height: 40px;
}

.navbar > div > h4 > a {
  padding: 20px;
}

.sidebar {
  background-color: ghostwhite;
  border: 2px solid grey;
  border-radius: 10px;
}

.sidebar > h2 {
  color: cornflowerblue;
  margin-left: 20px;
}

.user-bloc-mini {
  background-color: papayawhip;
  border: 2px solid grey;
  border-radius: 10px;
}

.user-bloc-mini > h3 > img {
  margin: 4px;
  border: 2px solid black;
  height: 50px;
  width: 50px;
  border-radius: 30px;
}

footer {
  background-color: black;
  color: grey;
  height: 20px;
}
