.box-test {
   border: 1px solid red; 
}

.mail-tab {
    margin: 4px;
    padding: 4px;
    background-color: floralwhite;
    border-radius: 10px;
    border: 1px solid lightgrey;
}

.draw-mail > tr {
    border: 1px solid lightgrey;
    background-color: ghostwhite;
    border-radius: 10px;
}

#star-five { 
    margin: 5px 0; 
    position: relative; 
    display: block; 
    color: yellow; 
    width: 0px; 
    height: 0px; 
    border-right: 10px solid transparent; 
    border-bottom: 7px solid yellow; 
    border-left: 10px solid transparent; 
    -moz-transform: rotate(35deg); 
    -webkit-transform: rotate(35deg); 
    -ms-transform: rotate(35deg); 
    -o-transform: rotate(35deg); 
    } 

#star-five:before { 
    border-bottom: 8px solid yellow; 
    border-left: 3px solid transparent; 
    border-right: 3px solid transparent; 
    position: absolute; 
    height: 0; 
    width: 0; 
    top: -4px; 
    left: -6px; 
    display: block; 
    content: ''; 
    -webkit-transform: rotate(-35deg); 
    -moz-transform: rotate(-35deg); 
    -ms-transform: rotate(-35deg); 
    -o-transform: rotate(-35deg); 
    } 

#star-five:after { 
    position: absolute; 
    display: block; 
    color: yellow; 
    top: 3px; 
    left: -10px; 
    width: 0px; 
    height: 0px; 
    border-right: 10px solid transparent; 
    border-bottom: 7px solid yellow; 
    border-left: 10px solid transparent; 
    -webkit-transform: rotate(-70deg); 
    -moz-transform: rotate(-70deg); 
    -ms-transform: rotate(-70deg); 
    -o-transform: rotate(-70deg); 
    content: ''; 
    }