.label-blank {
    padding: 4px;
    background-color: lightgreen;
    border: 1px solid lightgrey;
    color: white;
    width: 80px;
    height: 30px;
    text-align: center;
    border-radius: 7px;
}

.label-new {
    padding: 4px;
    background-color: lightgreen;
    border: 1px solid lightgrey;
    color: white;
    width: 80px;
    height: 30px;
    text-align: center;
    border-radius: 7px;
}

.label-update {
    padding: 4px;
    background-color: lightblue;
    border: 1px solid lightgrey;
    color: white;
    width: 80px;
    height: 30px;
    text-align: center;
    border-radius: 7px;
}

.label-global {
    padding: 4px;
    background-color: dodgerblue;
    border: 1px solid lightgrey;
    color: white;
    width: 80px;
    height: 30px;
    text-align: center;
    border-radius: 7px;
}

.label-survey {
    padding: 4px;
    background-color: indianred;
    border: 1px solid lightgrey;
    color: white;
    width: 80px;
    height: 30px;
    text-align: center;
    border-radius: 7px;
}

.label-bug {
    padding: 4px;
    background-color: indianred;
    border: 1px solid black;
    color: white;
    width: 80px;
    height: 30px;
    text-align: center;
    border-radius: 7px;
}
.label-contact {
    padding: 4px;
    background-color: cornflowerblue;
    border: 1px solid black;
    color: white;
    width: 80px;
    height: 30px;
    text-align: center;
    border-radius: 7px;
}
.label-hire {
    padding: 4px;
    background-color: mediumseagreen;
    border: 1px solid black;
    color: white;
    width: 80px;
    height: 30px;
    text-align: center;
    border-radius: 7px;
}
.label-request {
    padding: 4px;
    background-color: mediumpurple;
    border: 1px solid black;
    color: white;
    width: 80px;
    height: 30px;
    text-align: center;
    border-radius: 7px;
}