.labels{
    margin: 3px;
}

/*.labels:nth-child(5):after { 
     content: "<br>";
     white-space: pre; 
}*/

.labels-table{
    margin: 10px;
    background-color: lightgrey;
    border-radius: 10px;
    display: flex;
}
