<% @news.each do |news|%>
<div class="news">
    <div class="row">

        <div class="col-sm-10">
            <small><%= news.created_at.strftime("On %A %B %Y at %H:%M")%></small>
        </div>

        <div class="col-sm-2">
            <div class="label-article-<%= news.label %>"><%= news.label.capitalize %></div>
        </div>

    </div>
    
    <div class="content-news">
        <%= news.content.html_safe %>
    </div>
</div>
<br>
<% end %>