
<div class= "row">

  <div class= "col-md-2"></div>

  <div class= "col-md-7">
  </div>

  <div class= "col-md-3">
    <!-- sidebar -->
    <div class= "sidebar">
      <!-- Members -->
      <h2>Members</h2>
      <hr>
      <% @users.each do |user| %>
        <div class="user-bloc-mini">
          <h3>
            <img src=<%= user.picture %> >
            <%= link_to user.pseudo, profile_path(user) %>
             - <%= user.role %>
          </h3>
        </div>
      <% end %>
    </div>

    <div class= "sidebar">
      <!-- Last Comments -->
      <h2>Last Posts</h2>
      <hr>
    </div>
  </div>

</div>

