<h1>Labels<small>- <%= link_to 'New Label', new_label_path %></small></h1>

<div class="container">
  <div class="row">
    
    <h2>Subjects</h2>

    <div class="col-sm-6">
      <div class="container">
        <h3>Actual</h3>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="container">
        <h3>Available</h3>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="container">
  <div class="row">

    <div class="col-sm-6">
      <div class="container">
        <h2>Messages</h2>
        <div class="labels-table">
          <%= render @labels.where(category: :contact)%>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="container">
        <h2>Articles</h2>
        <div class="labels-table">
          <%= render @labels.where(category: :article)%>
        </div>
      </div>
    </div>
  </div>
</div>

