<div class="container">
  <h1><%= @user.pseudo %></h1>
  <br>
  <h4> <%= @user.available_votes %>available votes </h4>
  <%= content_tag :button, type: "button", class: "post-btn" do
    link_to "Post Idea", users_new_idea_path(current_user.id)
  end %>
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
<div>

