<div class="container">
  <h1><%= @user.pseudo %></h1>
  <br>

  <div>
    <%= link_to "Post Idea", users_new_idea_path(@user.id)%>
  </div>

  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
<div>

